<footer class="site-footer" style="margin: 0 auto; padding: 1.5rem 1rem; border-top: 1px solid var(--highlight); text-align:center; font-size:0.9rem; width: 70%;">
  <div style="max-width:900px; margin:0 auto;">
    <img src="/assets/images/Faviconn.png" alt="Logo" style="width: 40px; height: 40px; border-radius: 50%; margin: 0;">
    <p style="margin:.5rem 0; font-weight: 600;">
      <a href="https://github.com/daszeal/daszeal.github.io">Source</a>
    </p>
    <p style="margin:.5rem 0;">
      <a href="https://x.com/ddaszeal" target="_blank" rel="noopener noreferrer">X</a> ·
      <a href="https://www.reddit.com/user/daszeal_r1" target="_blank" rel="noopener noreferrer">Reddit</a> ·
      <a href="https://discord.com/users/daszeal" target="_blank" rel="noopener noreferrer">Discord</a> ·
      <a href="mailto:daseal211@gmail.com">Email</a>
    </p>
    <p style="margin:.5rem 0;">
      © 2026 Peter Jiang
    </p>
  </div>
</footer>
<script src="{{ '/assets/js/animation.js' | relative_url }}"></script>